<div class="d-flex justify-content-center align-items-center">
  <div class="card">
    <div class="card-body">
      <%= form_with url: "/pokemons_purchase/buy", method: :post do |form| %>
        <div class="form-group d-flex flex-column" style="width: 175px;">
          <label class="text-format">Choose your pokemon:</label>
          <%= form.select :url, @pokemons, class: 'form-control' %>
          <%= form.submit "Buy", class: 'btn btn-block mt-3', style: 'background-color: #f6a400; color: #8b2900; font-weight: bold;' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
