@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.text-format {
  color: #8b2900 !important;
  font-weight: bold;
}

.application-body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #ffd57b;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.flash-notice {
  visibility: hidden;
  opacity: 0.0;
}

.flash-alert {
  visibility: hidden;
  opacity: 0.0;
}